.logo{
    height: 60px;
    width: 150px;
}

.firstName{
    position: absolute;
    width: 300px !important;
    left: 20% !important;
    margin-top: -10px !important;
}

.email{
    top: 42%;
    position: absolute;
    width: 300px !important;
    left: 20% !important;
}

.ref{
    position: absolute;
    top: 300px
}

