.logo{
    height: 60px;
    width: 150px;
}

.firstNam{
    position: absolute;
    width: 38% !important;
    left: 30% !important;
    margin-top: -35px !important;
    
}

.emai{
    top: 42%;
    position: absolute;
    width: 38%!important;
    left: 30% !important;
    margin-top: 20px !important;
}

.re{
    position: absolute;
    top: 300px
}

