.NAVbar-customized {
    position: sticky;
}

.logo{
    height: 60px;
    width: 150px;
}

@media screen and (max-width: 992px){
    .NAVbar-customized .mobile{
        display: none;
    }
    .NAVbar-customized .navlist{
        padding-left: 100px;
    }
    .NAVbar-customized .souscris{
        margin-right: 400px;
        margin-bottom: 10px;
    }
}

.NAVbar-customized .org{
    margin-left: 40px;
}

.NAVbar-customized .navlist{
    margin-right: 45px;
}

.NAVbar-customized .nlink{
    border-bottom: 1px solid transparent;
    transition: padding-bottom 1s linear;
}

.NAVbar-customized .nlink:hover{
padding-bottom: 2px;
border-bottom-color: black;
}
